
.hero{
    padding:20px;
    display:flex;
    flex-direction: column;
}

.hero--photos{
    max-width:400px;
    align-self: center;
}

.hero--text>h1{
    margin-bottom: 16px;
}
.text{
    margin:0px;
}